body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-image:url("C:/Users/Dhev prashath/OneDrive/Desktop/projects/interviewsim/fronteddd/5-AI-Advancements-to-Expect-in-the-Next-10-Years-scaled.jpeg");
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
